/* Mixins */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin big-btn {
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
